@font-face {
  font-family: ProbaProItalic;
  src: url("/fonts/ProbaPro-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ProbaProRegular;
  src: url("/fonts/ProbaPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: ProbaProRegular, Arial, sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  color: #54677a;
}
a {
  text-decoration: none;
  transition: color 0.3s ease-out 0s;
}
a:hover {
  color: #5ab6e7;
  text-decoration: none;
}
h1 {
  display: block;
  font-size: 37px;
  text-transform: uppercase;
  text-align: center;
  color: #5ab6e7;
}
h2 {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #5ab6e7;
  margin: 20px 0;
}
.as_h1 {
  display: block;
  font-size: 27px;
  text-transform: uppercase;
  color: #5ab6e7;
  padding-top: 22px;
  padding-bottom: 11px;
}
.as_h1 span {
  color: #54677a;
}
input[type="text"] {
  border: 1px solid #5ab6e7;
  color: #54677a;
  padding: 10px 20px;
  background: #ffffff;
  text-overflow: ellipsis;
  outline: none;
}
input[type="text"]:focus {
  outline: none;
}
textarea {
  border: 1px solid #5ab6e7;
  color: #54677a;
  padding: 10px 20px;
  background: #ffffff;
  text-overflow: ellipsis;
  outline: none;
}
textarea:focus {
  outline: none;
}
textarea::-webkit-input-placeholder {
  color: #54677a;
}
textarea::-moz-placeholder {
  color: #54677a;
}
/* Firefox 19+ */
textarea:-moz-placeholder {
  color: #54677a;
}
/* Firefox 18- */
textarea:-ms-input-placeholder {
  color: #54677a;
}
input[type="text"]::-webkit-input-placeholder {
  color: #54677a;
}
input[type="text"]::-moz-placeholder {
  color: #54677a;
}
/* Firefox 19+ */
input[type="text"]:-moz-placeholder {
  color: #54677a;
}
/* Firefox 18- */
input[type="text"]:-ms-input-placeholder {
  color: #54677a;
}
input[type="text"]::-moz-placeholder {
  text-overflow: ellipsis;
}
input[type="text"]:-moz-placeholder {
  text-overflow: ellipsis;
}
input[type="text"]:-ms-input-placeholder {
  text-overflow: ellipsis;
}
select {
  border: 1px solid #5ab6e7;
  background: #ffffff;
  color: #54677a;
  padding: 10px 40px 10px 20px;
  background: #ffffff url("/img/icon_select_arrow.png") no-repeat right center;
  text-overflow: ellipsis;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
.form-element {
  width: 100%;
}
.navbar {
  height: 142px;
  margin-bottom: 0px;
}
.navbar.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #e8ecef;
}
.navbar.navbar-default .divider {
  display: block;
  height: 12px;
  background-color: #d5dbe1;
}
.navbar.navbar-default .navbar-header .navbar-brand {
  height: 74px;
  padding: 28px 28px 101px 15px;
}
.navbar.navbar-default .navbar-header .navbar-toggle {
  border: 0;
  background-color: transparent;
  margin-top: 50px;
  border-radius: 0;
  color: #54677a;
  transition: all 0.3s ease-out 0s;
}
.navbar.navbar-default .navbar-header .navbar-toggle:hover {
  background-color: #5ab6e7;
}
.mainmenu {
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .mainmenu {
    display: block;
  }
}
@media (max-width: 1200px) {
  .mainmenu {
    display: none;
  }
}
@media (max-width: 768px) {
  .mainmenu {
    display: block;
    background-color: #ffffff;
  }
}
.mainmenu .mainmenu-item {
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 23px;
}
@media (max-width: 768px) {
  .mainmenu .mainmenu-item {
    float: none;
    display: block;
  }
}
.mainmenu .mainmenu-item:hover .mainmenu-item-dropdown {
  opacity: 1;
}
.mainmenu .mainmenu-item .mainmenu-item-label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 27px 0;
  color: #54677a;
}
.mainmenu .mainmenu-item .mainmenu-item-label span {
  display: block;
  text-align: center;
  padding: 0 0 0 27px;
  transition: color 0.3s ease-out 0s;
}
.mainmenu .mainmenu-item .mainmenu-item-label span.delimiter {
  border-left: 1px solid #e0e5e9;
}
.mainmenu .mainmenu-item .mainmenu-item-label span:hover {
  color: #5ab6e7;
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown {
  display: block;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: -10px 0 0 0;
  list-style-type: none;
  z-index: 10;
  background: url("/img/mainmenu-dropdown-bg.png") repeat;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}
@media (max-width: 768px) {
  .mainmenu .mainmenu-item .mainmenu-item-dropdown {
    position: relative;
    opacity: 1;
  }
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item {
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item:first-child {
  margin-top: 13px;
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item:last-child {
  margin-bottom: 8px;
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item span {
  display: block;
  text-align: center;
  color: #54677a;
  transition: color 0.3s ease-out 0s;
}
@media (max-width: 768px) {
  .mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item span {
    text-align: left;
    padding-left: 54px;
  }
}
.mainmenu .mainmenu-item .mainmenu-item-dropdown .mainmenu-item-dropdown-item span:hover {
  color: #5ab6e7;
}
.mainmenu_reduct {
  padding: 0 0 40px 0;
}
.mainmenu_reduct .mainmenu-item {
  display: block;
  float: none;
  padding-top: 15px;
}
.mainmenu_reduct .mainmenu-item:hover .mainmenu-item-dropdown {
  opacity: 0;
}
.mainmenu_reduct .mainmenu-item .mainmenu-item-label {
  padding: 0;
}
.promophone {
  padding-left: 35px;
  margin-top: 39px;
  background: url("/img/phone_icon.png") no-repeat left top;
  background-size: 23px;
}
@media (min-width: 1200px) {
  .promophone {
    display: block;
    float: right;
  }
}
@media (max-width: 1200px) {
  .promophone {
    display: block;
    position: absolute;
    width: 236px;
    left: 50%;
    margin-left: -75px;
  }
}
@media (max-width: 768px) {
  .promophone {
    display: none;
  }
}
.promophone__label {
  display: block;
  font-size: 15px;
}
.promophone__number {
  display: block;
  font-size: 28px;
  color: #5ab6e7;
}
@media (min-width: 1200px) {
  .promophone_static {
    display: block;
    float: none;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .promophone_static {
    display: block;
    position: static;
    width: 236px;
    left: 0;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .promophone_static {
    display: block;
  }
}
.segmentpanel_promo {
  background: #76b4c7 url("/img/promopanel_bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 543px;
}
.segmentpanel_white {
  position: relative;
  padding: 37px 0;
}
.segmentpanel_white:after,
.segmentpanel_white:before {
  content: " ";
  display: block;
  position: absolute;
  background: url("/img/segmentpanel_white_divider_bg.png") no-repeat center;
  width: 153px;
  height: 66px;
  left: 50%;
  margin-left: -76px;
}
.segmentpanel_white:before {
  top: -50px;
}
.segmentpanel_white:after {
  transform: rotate(180deg);
  bottom: -50px;
}
.segmentpanel_blue {
  padding: 50px 0;
  background-color: #d6e4ea;
}
.segmentpanel {
  display: block;
}
.segmentpanel .container {
  position: relative;
}
.info-panel {
  display: inline-block;
  position: relative;
  width: 402px;
  margin-top: 36px;
}
.info-panel .info-panel__header {
  display: inline-block;
  background-color: #5ab6e7;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 28px 10px 28px;
}
.info-panel .info-panel__body {
  display: block;
  border-left: 4px solid #5ab6e7;
  padding: 0 27px 24px 27px;
  background-color: #ffffff;
}
.info-panel .info-panel__link {
  display: inline-block;
  color: #5ab6e7;
  text-transform: uppercase;
  margin-top: 9px;
}
.phone-panel {
  display: block;
  position: absolute;
  right: 0;
  top: -12px;
  z-index: 1200;
  background: #5ab6e7 url('/img/shadow_phone_panel.png') no-repeat top center;
  width: 255px;
  box-shadow: 0 0 10px 0 #000000;
}
.phone-panel.phone-panel_static-footer {
  position: static;
}
.phone-panel.phone-panel_static-footer .phone-panel__footer {
  padding-bottom: 10px;
}
.phone-panel.phone-panel_static-footer .phone-panel__footer:after {
  content: "";
  display: none;
  background: none;
}
.phone-panel.phone-panel_static-footer .phone-panel__body {
  display: block;
  margin-top: 0;
  padding-top: 42px;
}
.phone-panel.phone-panel_right-side {
  position: static;
  margin: 60px 0;
}
.phone-panel.phone-panel_right-side .phone-panel__footer {
  padding-bottom: 10px;
}
.phone-panel.phone-panel_right-side .phone-panel__footer:after {
  margin-top: 8px;
}
.phone-panel.phone-panel_right-side .phone-panel__body {
  display: block;
  margin-top: 0;
  padding-top: 42px;
}
.phone-panel .phone-panel__footer {
  display: block;
  position: relative;
  background-color: #5ab6e7;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 8px 0 0 0;
  margin-top: 14px;
  cursor: pointer;
}
.phone-panel .phone-panel__footer:after {
  content: " ";
  display: block;
  position: absolute;
  width: 255px;
  height: 26px;
  background: transparent url('/img/phone_panel_tail.png') no-repeat bottom center;
}
.phone-panel .phone-panel__body {
  display: none;
  width: 255px;
  text-align: center;
  margin-top: 42px;
}
.phone-panel .phone-panel__body .form-horizontal {
  display: inline-block;
  text-align: left;
  width: 195px;
}
.phone-panel .phone-panel__body .form-horizontal .form-control {
  border-radius: 0;
}
.footer {
  display: block;
  position: relative;
  background: #e7eaed url("/img/footer_bg.png") no-repeat center;
  background-size: cover;
  min-height: 327px;
  padding: 58px 0;
}
.footer:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
  background-color: #d5dbe1;
}
.footer:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-color: #eaedf0;
}
.footer__list {
  margin-left: -15px;
  margin-right: -15px;
}
.footer__list__item:nth-child(1) {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .footer__list__item:nth-child(1) {
    float: left;
    width: 41.66666667%;
  }
}
.footer__list__item:nth-child(2) {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .footer__list__item:nth-child(2) {
    float: left;
    width: 25%;
  }
}
.footer__list__item:nth-child(3) {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 36px;
}
@media (min-width: 1200px) {
  .footer__list__item:nth-child(3) {
    float: left;
    width: 33.33333333%;
  }
}
.footer__list__item:nth-child(2),
.footer__list__item:nth-child(3) {
  border-left: 1px solid #d6dce2;
}
.hospitals {
  margin-left: -15px;
  margin-right: -15px;
}
.hospitals.hospitals_small .hospitals__item .hospitals__item__action {
  display: none;
}
.hospitals .hospitals__item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid #e2e2e2;
}
@media (min-width: 992px) {
  .hospitals .hospitals__item {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .hospitals .hospitals__item {
    float: left;
    width: 100%;
  }
}
.hospitals .hospitals__item:last-child {
  border-bottom: 0;
}
.hospitals .hospitals__item .hospitals__item__cover {
  display: inline-block;
  vertical-align: top;
  border: 0;
  width: 150px;
  height: 200px;
  margin-right: 20px;
}
.hospitals .hospitals__item .hospitals__item__info {
  display: inline-block;
  vertical-align: top;
  width: 725px;
  margin-right: 20px;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__tags {
  display: block;
  margin: 0 0 20px 0;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__tags .hospitals__item__tag {
  display: inline-block;
  background: #79c47d;
  border-radius: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 15px;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__name {
  color: #5ab6e7;
  text-transform: uppercase;
  font-size: 23px;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__address {
  margin: 10px 0 20px 0;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__address .hospitals__item__address__district {
  display: block;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__timeToWork {
  display: block;
  padding: 0;
  list-style-type: none;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__timeToWork li {
  display: block;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__timeToWork li:first-child:before {
  background: transparent url("/img/icon_workweek.png") no-repeat center;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__timeToWork li:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent;
  width: 27px;
  height: 27px;
  margin-right: 13px;
}
.hospitals .hospitals__item .hospitals__item__info .hospitals__item__phone:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent url("/img/phone_icon_1.png") no-repeat center;
  width: 21px;
  height: 21px;
  margin-right: 17px;
}
.hospitals .hospitals__item .hospitals__item__action {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin: 0;
  text-transform: uppercase;
}
.hospitals .hospitals__item .hospitals__item__action .hospitals__item__action__type-price {
  display: block;
}
.hospitals .hospitals__item .hospitals__item__action .btn {
  font-size: 18px;
  padding: 10px 33px 7px 33px;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 10px 0 0 0;
}
.searchmap {
  display: block;
  position: relative;
  height: 649px;
  border: 3px solid #d5dbe1;
  margin: 30px 0;
  box-shadow: 0 112px 63px -103px rgba(0, 0, 0, 0.4);
}
.searchmap__window {
  display: block;
  position: absolute;
  width: 373px;
  top: 40px;
  left: 46px;
}
.searchmap__window__header {
  display: block;
  background: #5ab6e7 url("/img/icon_window_header.png") no-repeat top right;
  padding: 30px 30px;
}
.searchmap__window__header__label {
  display: inline;
  color: #ffffff;
  font-size: 27px;
  line-height: 1em;
}
.searchmap__window__body {
  display: block;
  border-left: 4px solid #5ab6e7;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 30px;
  color: #54677a;
  font-size: 24px;
}
.searchmap__window__district {
  display: block;
}
.searchmap__window__address {
  display: block;
}
.searchmap__window__workweek {
  display: block;
  padding: 0;
  list-style-type: none;
}
.searchmap__window__workweek li {
  display: block;
}
.searchmap__window__workweek li:first-child:before {
  background: transparent url("/img/icon_workweek.png") no-repeat center;
}
.searchmap__window__workweek li:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent;
  width: 27px;
  height: 27px;
  margin-right: 13px;
}
.searchmap__window__phone:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent url("/img/phone_icon_1.png") no-repeat center;
  width: 21px;
  height: 21px;
  margin-right: 17px;
}
.searchmap__window__promophone {
  display: block;
  margin-top: 40px;
  color: #5ab6e7;
  font-size: 35px;
}
.searchmap__window__promophone__label {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
}
.search-panel {
  margin-left: -15px;
  margin-right: -15px;
}
.search-panel__elem {
  display: block;
}
.btn {
  display: inline-block;
  border-radius: 3px;
  outline: none;
  border: 0;
  font-size: 18px;
  padding: 10px 33px 7px 33px;
  text-transform: uppercase;
  line-height: 1.5em;
}
.btn-search {
  width: 48px;
  height: 47px;
  background: #5ab6e7 url("/img/icon_search.png") no-repeat center;
}
.gridin {
  padding: 30px 0;
}
.gridin .gridin__content {
  display: block;
  width: 895px;
}
.gridin .gridin__rightside {
  display: block;
  width: 255px;
  float: right;
}
.sidelist {
  display: block;
  margin-top: 20px;
}
.sidelist .sidelist__header {
  display: block;
  padding: 10px 20px;
  background: #5ab5e6;
  color: #fff;
  text-transform: uppercase;
}
.sidelist .sidelist__body {
  display: block;
  list-style-type: none;
  border-left: 3px solid #5ab5e6;
  padding: 0;
  margin: 0;
}
.sidelist .sidelist__body li {
  display: block;
  position: relative;
  padding: 0 0 0 10px;
}
.sidelist .sidelist__body li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #5ab5e6;
}
.sidelist .sidelist__body li a:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  background: transparent url('/img/list_arrow.png') no-repeat center;
  width: 8px;
  height: 37px;
  margin: 0 5px 0 0;
  background-size: contain;
}
.sidelist .sidelist__body li a:hover {
  color: #54677a;
}
.sidelist .sidelist__body li a:hover:before {
  background: transparent url('/img/list_arrow_on.png') no-repeat center;
  width: 8px;
  height: 37px;
  margin: 0 5px 0 0;
  background-size: contain;
}
.sidesearch {
  display: block;
  margin-top: 30px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.sidesearch__elem {
  border-top: 1px solid #5ab5e6 !important;
  border-right: 1px solid #5ab5e6 !important;
  border-bottom: 1px solid #5ab5e6 !important;
  border-left: 3px solid #5ab5e6 !important;
  padding: 10px 40px 10px 20px !important;
  background: transparent url('/img/icon_search_blue.png') no-repeat right !important;
}
.sidesearch__elem::-webkit-input-placeholder {
  color: #5ab5e6 !important;
}
.sidesearch__elem::-moz-placeholder {
  color: #5ab5e6 !important;
}
.sidesearch__elem:-moz-placeholder {
  color: #5ab5e6 !important;
}
.sidesearch__elem:-ms-input-placeholder {
  color: #5ab5e6 !important;
}
.gallery {
  display: block;
  margin: 30px 0;
}
.gallery .gallery__big {
  display: inline-block;
  vertical-align: top;
  width: 696px;
  height: 496px;
  border: 3px solid #d5dbe1;
  overflow: hidden;
}
.gallery .gallery__big .gallery__big__elem {
  display: block;
  width: 100%;
}
.gallery .gallery__nav {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin-left: 31px;
}
.gallery .gallery__nav .gallery__nav__wrapper {
  display: block;
  height: 416px;
  overflow: hidden;
}
.gallery .gallery__nav .gallery__nav__control {
  display: block;
  height: 20px;
}
.gallery .gallery__nav .gallery__nav__control.gallery__nav__control_up {
  margin-bottom: 20px;
  background: transparent url('/img/gallery_arrow.png') no-repeat center;
}
.gallery .gallery__nav .gallery__nav__control.gallery__nav__control_down {
  background: transparent url('/img/gallery_arrow.png') no-repeat center;
  margin-top: 20px;
  transform: rotate(180deg);
}
.gallery .gallery__nav .gallery__nav__elem {
  display: block;
  margin-bottom: 20px;
  width: 150px;
  height: 90px;
  cursor: pointer;
}
.hospital-info {
  display: block;
  margin: 30px 0;
}
.hospital-info .hospital-info__data {
  display: inline-block;
  width: 486px;
  vertical-align: top;
}
.hospital-info .hospital-info__data .hospital-info__data__tag {
  display: block;
  margin: 0 0 20px 0;
}
.hospital-info .hospital-info__data .hospital-info__data__tag .hospital-info__data__tag__tag {
  display: inline-block;
  background: #79c47d;
  border-radius: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 15px;
}
.hospital-info .hospital-info__data .hospital-info__data__label {
  display: block;
}
.hospital-info .hospital-info__data .hospital-info__data__timeToWork {
  display: block;
  padding: 0;
  list-style-type: none;
}
.hospital-info .hospital-info__data .hospital-info__data__timeToWork li {
  display: block;
}
.hospital-info .hospital-info__data .hospital-info__data__timeToWork li:first-child:before {
  background: transparent url("/img/icon_workweek.png") no-repeat center;
}
.hospital-info .hospital-info__data .hospital-info__data__timeToWork li:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent;
  width: 27px;
  height: 27px;
  margin-right: 13px;
}
.hospital-info .hospital-info__data .hospital-info__data__phone:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background: transparent url("/img/phone_icon_1.png") no-repeat center;
  width: 21px;
  height: 21px;
  margin-right: 17px;
}
.hospital-info .hospital-info__action {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  margin-left: 30px;
}
.price-list {
  display: block;
  width: 696px;
  margin: 30px 0;
}
.price-list .price-list__header {
  display: inline-block;
  padding: 10px 20px;
  background: #5ab5e6;
  color: #fff;
  text-transform: uppercase;
}
.price-list .price-list__body {
  display: block;
  list-style-type: none;
  border-left: 3px solid #5ab5e6;
  padding: 0;
  margin: 0;
}
.price-list .price-list__body li {
  padding: 5px 10px;
  border-top: 1px solid #d5dbe1;
  border-right: 1px solid #d5dbe1;
  border-bottom: 1px solid #d5dbe1;
  color: #5ab5e6;
}
.price-list .price-list__body li a {
  color: #5ab5e6;
}
.price-list .price-list__body li .price-list__body__pice {
  float: right;
}
.fade.in {
  z-index: 1500;
}
.modal.fade.in {
  z-index: 1600;
}
.modal .modal-content {
  border-radius: 0;
  padding-left: 10px;
}
.modal .modal-content:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background: #5ab6e7;
}
.modal .modal-header,
.modal .modal-footer {
  border: 0;
}
.modal .modal-header .close {
  opacity: 0.7;
}
.modal .modal-header .close:hover {
  opacity: 1;
}
.modal .modal-header .close img {
  width: 20px;
}
.order-window .order-window__label {
  text-align: center;
  margin-bottom: 10px;
}
.order-window .order-window__promophone {
  text-align: center;
  font-size: 28px;
  color: #5ab6e7;
  line-height: normal;
}
.order-window .order-window__action-group {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
