.gridin {
    padding: 30px 0 0 0;

    .gridin__content {
        display: block;
        width: 895px;
    }

    .gridin__rightside {
        display: block;
        width: 255px;
        float: right;
    }
}