.navbar {
    height: 130px;

    &.navbar-default {
        background-color: #ffffff;
        border-bottom: 1px solid #e8ecef;

        .navbar-header {
            .navbar-brand {
                height: 74px;
                padding: 28px 28px;
            }
        }
    }
}