.navbar {
    height: 142px;
    margin-bottom: 0px;

    &.navbar-default {
        background-color: #ffffff;
        border-bottom: 1px solid #e8ecef;

        .divider {
            display: block;
            height: 12px;
            background-color: #d5dbe1;
        }

        .navbar-header {
            .navbar-brand {
                height: 74px;
                padding: 28px 28px 101px 15px;

                @media (max-width: 920px) {
                    float: right;
                }
            }

            .navbar-toggle {
                border: 0;
                background-color: transparent;
                margin-top: 50px;
                border-radius: 0;
                color: #54677a;

                @media (max-width: 920px) {
                    float: left;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #5ab5e6;
                    color: #ffffff;
                    margin-left: 20px;

                    .icon-bar {
                        background-color: #ffffff;
                        width: 19px;
                    }
                }


                .transition(@transitionAll);

                &:hover {
                    background-color: #5ab6e7;
                }
            }

        }

        .navbar-collapse {

        }
    }
}