body {
    font-family: @fontProbaProRegular;
    font-size: 18px;

    background-color: #ffffff;
    color: #54677a;
}

a {
    text-decoration: none;
    .transition(@transitionColors);

    &:hover {
        color: #5ab6e7;
        text-decoration: none;
    }
}

h1 {
    display: block;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
    color: #5ab6e7;
}

h2 {
    display: block;
    font-size: 30px;
    text-align: center;
    color: #5ab6e7;
    margin: 20px 0;
}

.as_h1 {
    display: block;
    font-size: 27px;
    text-transform: uppercase;
    color: #5ab6e7;
    padding-top: 22px;
    padding-bottom: 11px;

    span {
        color: #54677a;
    }
}

input[type="text"] {
    border: 1px solid #5ab6e7;
    color: #54677a;
    padding: 10px 20px;
    background: #ffffff;
    text-overflow: ellipsis;
    outline: none;

    &:focus {
        outline: none;
    }
}

textarea {
    border: 1px solid #5ab6e7;
    color: #54677a;
    padding: 10px 20px;
    background: #ffffff;
    text-overflow: ellipsis;
    outline: none;

    &:focus {
        outline: none;
    }
}

textarea::-webkit-input-placeholder {color:#54677a;}
textarea::-moz-placeholder          {color:#54677a;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#54677a;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color:#54677a;}

input[type="text"]::-webkit-input-placeholder {color:#54677a;}
input[type="text"]::-moz-placeholder          {color:#54677a;}/* Firefox 19+ */
input[type="text"]:-moz-placeholder           {color:#54677a;}/* Firefox 18- */
input[type="text"]:-ms-input-placeholder      {color:#54677a;}

input[type="text"]::-moz-placeholder     {text-overflow:ellipsis;}
input[type="text"]:-moz-placeholder      {text-overflow:ellipsis;}
input[type="text"]:-ms-input-placeholder {text-overflow:ellipsis;}

select {
    border: 1px solid #5ab6e7;
    background: #ffffff;
    color: #54677a;
    padding: 10px 40px 10px 20px;
    background: #ffffff url("/img/icon_select_arrow.png") no-repeat right center;
    text-overflow: ellipsis;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.form-element {
    width: 100%;
}

p {
    margin: 30px 0;
    line-height: 1.6em;
}